@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 15px;
}

@media screen and (min-width: 591px) {
  .container {
    padding: 0 30px;
  }
}
